<div class="plan">
  <div class="main_sub">
    <div class="memo">
      <%= link_to 'memo', '/posts/new'%>
    </div>
    <div class="chat_link">
      <%= link_to 'チャット', '/chat/index' %>
    </div>
    <div class="q_and_a_link">
      <%= link_to 'よくあるQ＆A', '/' %>
    </div>
</div>