<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>calendar</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <div class="app_title">ainote</div>
      <h1 class="page_name">カレンダー</h1>
      <div class="hensyuubotan">
        <img src="assets/header.png" alt="編集ボタン" class="top-image">
      </div>
      <div class="sign_up">
        <%= link_to '新規登録', 'users/sign_up' %>
      </div>
    </header>
      
    <main>      
      <div class="wrapper">
        <div class="main_calendar">
          <%= render "calendar" %>
        </div>
        <div class="main_plan">
          <%= render "plan" %>
        </div>
      </div>

    </main>
    <footer>
      <div class="footer_box">
        <h4 class="remaining">産まれるまであと</h4>
        <h1 class="countdown">〇〇日</h1>
      </div>
    </footer>
  </body>
</html>
