<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      【おむつ卒業のタイミングはどこを見て決めましたか？】
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">退出する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        さおりママ
      </div>
      <div class="message-date">
        2021/2/18(木) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おむつっていつまで履かせますか？
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ゆき子ママ
      </div>
      <div class="message-date">
        2021/2/18(木) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        2歳からパンツの練習をしようと思ってます！
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        二児のママ
      </div>
      <div class="message-date">
        2021/2/18(木) 12:50:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        うちはおむつにお漏らししなくなってから練習始めました！
      </div>
    </div>
  </div>

</div>

<div class="form">
<div class="form-input">
    <input class="form-message" placeholder= "トークに参加しよう！">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
</div>
  <input class="form-submit" type="submit" value="送信">
</div>