<div class="side-bar-header">
  <div class="rooms-name">
    <a href="/">ainote</a>
  </div>
  <div class="create-room">
    <a href="new_room_path">トークを作成</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">おすすめの絵本ありますか？</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">いらない洋服ありませんか？</a>
    </div>
  </div>
</div>